@import '../common/common-css-rule.scss';

.data-table {
  height: 600px;
  padding: 1.25rem;

  .cellWithImg {
    display: flex;
    align-items: center;

    .cellImg {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 1.25rem;
    }
  }

  .cellWithStatus {
    padding: 0.3125rem;
    border-radius: 0.3125rem;

    &.active {
      background-color: rgba(0, 128, 0, 0.05);
      color: green;
    }
    &.pending {
      background-color: rgba(201, 172, 9, 0.05);
      color: goldenrod;
    }
    &.passive {
      background-color: rgba(201, 50, 13, 0.05);
      color: red;
    }
  }
  .cell-action {
    display: flex;
    align-items: center;
    gap: 0.973rem;

    .view-button {
      padding: 0.125rem 0.3125rem;
      border-radius: 0.3125rem;
      color: darkblue;
      border: 1px dotted rgba(0, 0, 139, 0.596);
      cursor: pointer;
    }
    .delete-button {
      padding: 0.125rem 0.3125rem;
      border-radius: 0.3125rem;
      color: crimson;
      border: 1px dotted rgba(220, 20, 60, 0.6);
      cursor: pointer;
    }
  }
}